.profile {
  max-width: 880px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 0;
}

@media screen and (max-width: 899px) {
  .profile {
    margin: 0 19px 0 19px;
    padding: 42px 0 0 0;
  }
}

@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
  }
}