.popup__save-button_place_inactive {
    display: block;
    width: 358px;
    height: 50px;
    margin: auto;
    border-radius: 2px;
    background-color: transparent;
    background-size: 107px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    pointer-events: none;
}

.popup__save-button_place_inactive:hover {
    opacity: 1;
}

@media screen and (max-width: 560px) {
    .popup__save-button_place_inactive {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}