.popup__field_place {
    width: 430px;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    border: 0;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 560px) {
    .popup__field_place {
        width: 282px;
        min-height: 322px;
    }
}